
@font-face{
    font-family: 'Cristik';
    src: url('src/fonts/Cristik.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Cinzel';
    src: url('src/fonts/Cinzel-VariableFont_wght.ttf') format('TrueType');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Copperplate Gothic';
    src: url('src/fonts/Copperplate-Gothic-Std-29-AB.ttf') format('TrueType');
    font-weight:normal;
    font-style:normal;
}


:root{
    --primary-golden: #c5a880;
    --primary-brown: #532e1c;
    --primary-white: #e6e6e6;
    --primary-darkblue: #001971;
    --primary-black: #0f0f0f;

    --primary-font:Times New Roman, Georgia;
    --special-font:'Cinzel', Garamond;
    --cool-font:'Cristik', Times New Roman;
    --logo-font:'Copperplate Gothic', Garamond;

    --default-border: 2px solid var(--primary-brown);
}

body {
    background-color:var(--primary-golden);
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--primary-brown);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

quote {
    font-family: var(--special-font);
    display: flex;
    padding: 5px 10% 5px 10%; /*order: top, right, bottom, left*/
    letter-spacing: 2px;
    line-height: 2;
}

a {
    font-family: var(--special-font);
    text-decoration: none; /*remove the underline*/
    color: var(--primary-black);   
}

.section{
    width: 100%;
    height: 100vh;
}

.who_section{
    width:100%;
    height: 90vh;
}

.navbar_section{
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10%;
    margin-left: 10%;
    align-items: center;
    color: var(--primary-black);
}

.text_logo{
    font-family: var(--special-font);
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.default_navbar_list{
    /* color: brown; note how it does not apply because technically the links are inside the li not inside the ul*/ 
    display: flex;
    flex-direction: row;
    list-style-type:none;
    gap: 5vw;
}

.blacklink{
    color:black;
}

.title_text_image_block{
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    background-image: url('src/images/egypt-captured-by-me.jpg');
    background-size: cover;
    background-position:center;
    filter: grayscale(100%);
}

.title_and_text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title_and_text h1{
    margin-left: 10%;
}

.image_block{
    display:flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;
    filter:grayscale(0%);
}

.image_block img{
    max-width: 50%;
    max-height: 100%;

    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
}

.image_block .image-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.experience{
    display:flexbox; /*This will help have them vertically oriented*/
    flex-direction: column;
    /* border: var(--border-width) dashed var(--border-color); */
}

.experience_outer_header{
    display:flex;
    justify-content: space-around;
    border: var(--default-border);
    border-radius: 25px;
    width: 98%;
}

.experience_header{
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 2%;
    max-height: 200px;
    width: 98%;
    justify-content:space-between;
}

.experience_photo_frame{
    width: 10%;
    max-width: 30%;
    max-height:100%;
}

.experience_photo_frame img{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items:center;
}

.experience_header_text_block{
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-height:100%;
    width: 25%;
}

.experience_position_title{
    display: flex;
    font-size: 1.5rem; /*rem is root em, which is the standard font size. so if standard is 8, this font will be 16*/
    max-height: 25%;
}

.experience_company_and_worktime{
    display:flex;
    gap: 10%;
    max-height: 20%;
}

.experience_date{
    display:flex;
    max-height: 20%;
}

.experience_location_and_workstyle{
    display:flex;
    gap:10%;   
    max-height: 20%;
}

.experience_description{
    display:flex;
    flex-direction: column;
    /* border: var(--default-border); */
    margin-top: 1%; /*This percentage is taken from the parent's WIDTH not height. This is done by CSS to prevent infinite loops.*/
    width: 65%;
}

.connection{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 100%;
    opacity: 0.5;
    filter: grayscale(100%);
}