
@font-face{
    font-family: 'Cristik';
    src: url('src/fonts/Cristik.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Cinzel';
    src: url('src/fonts/Cinzel-VariableFont_wght.ttf') format('TrueType');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Copperplate Gothic';
    src: url('src/fonts/Copperplate-Gothic-Std-29-AB.ttf') format('TrueType');
    font-weight:normal;
    font-style:normal;
}


:root{
    /* --primary-golden: #c5a880; */
    --primary-offwhite: #fffcf2;
    /* --primary-brown: #532e1c; */
    --primary-dark: #252422;

    /* --primary-white: #e6e6e6; */
    --primary-gray: #ccc5b9;

    --primary-orange: #eb5e28;
    
    /* --primary-black: #0f0f0f; */
    --primary-darkgray: #403d39;

    --primary-font:Times New Roman, Georgia;
    --special-font:'Cinzel', Garamond;
    --cool-font:'Cristik', Times New Roman;
    --logo-font:'Copperplate Gothic', Garamond;

    --default-border: 2px solid var(--primary-dark);
}

body {
    background-color:var(--primary-offwhite);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: var(--primary-dark);
    margin: 0;
    padding: 0;
    gap:0;
    height: 100%;
    width: 100%;
}

quote {
    font-family: var(--special-font);
    display: flex;
    letter-spacing: 2px;
    line-height: 2;
}

a {
    font-family: var(--special-font);
    text-decoration: none; /*remove the underline*/
    color: var(--primary-darkgray);   
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-weight: 1.2rem;
}

.section{
    width: 100%;
    height: 100vh;
    gap: 0;
    margin:0;
}

.who_section{
    width:100%;
    height: 90vh;
}

.navbar_section{
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10%;
    margin-left: 10%;
    align-items: center;
    color: var(--primary-darkgray);
}

.text_logo{
    font-family: var(--special-font);
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.default_navbar_list{
    /* color: brown; note how it does not apply because technically the links are inside the li not inside the ul*/ 
    display: flex;
    flex-direction: row;
    list-style-type:none;
    gap: 5vw;
}

.blacklink{
    color:black;
}

.title_text_image_block{
    display:flex;
    flex-direction:row;
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    /* background-image: url('src/images/egypt_pyramids_and_camels.jpg'); */
    background-color:var(--primary-offwhite);
    background-size: cover;
    background-position:center;
}

.title_and_text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title_and_text h1{
    margin-left: 10%;
    font-size: 2.5rem;
}

.title_and_text quote{
    margin-left: 10%;
    padding: 5px 10% 5px 0; /*order: top, right, bottom, left*/
}

.image_block{
    display:flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;
    filter:grayscale(0%);
}

.image_block img{
    max-width: 100%;
    max-height: 97%;
    object-fit:cover;
    filter:grayscale(0%);

    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
}

/* .image_block::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--primary-gray), transparent, transparent, transparent);
    pointer-events: none;
} */

.image_block .image-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.experience_section{
    width: 80%;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    gap: 0;
    margin:0;
}

.experience{
    display:flexbox; /*This will help have them vertically oriented*/
    flex-direction: column;
    /* border: var(--border-width) dashed var(--border-color); */
    /* background-image: url('src/images/egypt_grandiose_mosques.jpg');
    background-size: cover;
    background-position:center; */
}

.experience_outer_header{
    display:flex;
    justify-content: space-around;
    border: var(--default-border);
    border-color: var(--primary-gray);
    border-radius: 25px;
    width: 98%;
}

.experience_header{
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 2%;
    max-height: 30vh;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content:space-between;
}

.experience_photo_frame{
    display: flex;
    flex-direction: column;
    width: 10%;
    max-height:100%;
    padding-top: 1%;
    
}

.experience_photo_frame img{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items:center;
}

.experience_header_text_block{
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-height:100%;
    width: 40%;
}

.experience_position_title{
    display: flex;
    font-size: 1.5rem; /*rem is root em, which is the standard font size. so if standard is 8, this font will be 16*/
    max-height: 25%;
}

.experience_company_and_worktime{
    display:flex;
    gap: 10%;
    max-height: 20%;
}

.experience_date{
    display:flex;
    max-height: 20%;
}

.experience_location_and_workstyle{
    display:flex;
    gap:10%;   
    max-height: 20%;
}

.experience_description{
    display:flex;
    flex-direction: column;
    /* border: var(--default-border); */
    margin-top: 1%; /*This percentage is taken from the parent's WIDTH not height. This is done by CSS to prevent infinite loops.*/
    width: 50%;
}

.knowledge_section{
    width: 100%;
    height: 100vh;
    gap: 0;
    margin:0;
}

.knowledge_content{
    padding-left: 10%;
    padding-right: 10%;
}

.connect_section{
    width: 100%;
    height: 30vh;
    gap: 0;
    margin:0;
   
    position: relative;
    /* background-color: #403d39;
    color:#fffcf2; */
}

.connect_section::before{
    content:"";
    position: absolute;
    top: 0; left:0; right:0; bottom:0;

    background-image: url('src/images/egypt-captured-by-me.jpg');
    background-size:cover;
    background-position:top;

    filter: grayscale(100%);
    opacity: 50%;
    z-index: -1;
}

.connect_content{
    padding-left: 10%;
    padding-right: 10%;
}

.connection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.connection_icon_and_text{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 30%;
}

.connection_icon_and_text a{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 5%;
}

.connection_icon_and_text img{
    width: 10%;
}
/* 
.connection_icon_and_text a{
        color:#fffcf2;
} */


.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 100%;
    opacity: 0.5;
    filter: grayscale(100%);
}