/*Imports*/
@font-face{
    font-family: 'Cristik';
    src: url('src/fonts/Cristik.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Cinzel';
    src: url('src/fonts/Cinzel-VariableFont_wght.ttf') format('TrueType');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Copperplate Gothic';
    src: url('src/fonts/Copperplate-Gothic-Std-29-AB.ttf') format('TrueType');
    font-weight:normal;
    font-style:normal;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*Variables*/
:root{
    /* --primary-golden: #c5a880; */
    --primary-offwhite: #fffcf2;
    --primary-offwhite-transparent: #fffcf2cc;
    /* --primary-brown: #532e1c; */
    --primary-dark: #252422;

    /* --primary-white: #e6e6e6; */
    --primary-gray: #ccc5b9;

    --primary-orange: #eb5e28;
    
    /* --primary-black: #0f0f0f; */
    --primary-darkgray: #403d39;

    --primary-font:Times New Roman, Georgia;
    --special-font:'Cinzel', Garamond;
    --cool-font:'Cristik', Times New Roman;
    --logo-font:'Copperplate Gothic', Garamond;

    --default-border: 2px solid var(--primary-dark);

    --default-border-radius: 25px;

    --default-box-shadow: 0 10px 30px -10px rgba(0,0,0,.4); 

    --navbar-height: max(100px, 10vh, 10%);

    --phone-width: 764px;
    --tablet-width: 1024px;
}

/*Styling*/
html{
    font-size: 16px; /*This is the default value anyway, but just to have it seen*/
    /*There's also the letter-spacing property, which I think is best left alone.*/
    /*The line-height property also has a default value, but I'm unsure what it is.*/
}

/*
Note on all displays: flex is the best option.
It can be used as a column or row, and it is so controllable.
*/

/*The core fundamentals*/
body {
    background-color:var(--primary-offwhite);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: var(--primary-dark);
    margin: 0;
    padding: 0;
    gap:0;
    height: 100%;
    width: 100%;

    scroll-snap-type: mandatory;
}

body::-webkit-scrollbar{
    display: none;
}

quote {
    font-family: var(--special-font);
    display: flex;
    letter-spacing: 2px;
    line-height: 2;
    padding: 5px 10% 5px 0; /*order: top, right, bottom, left*/

}

a {
    font-family: var(--special-font);
    text-decoration: none; /*remove the underline*/
    color: var(--primary-darkgray);   
}

a:hover{
    color: var(--primary-orange);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-weight: 1.2rem;
}

.section{
    width: 100%;
    height: 100vh;
    gap: 0;
    margin:0;

    /* animation: fadeIn 1s ease; */
    scroll-snap-align: top;
}

.section__title{
    position: sticky;
    top:var(--navbar-height);
    background-color: var(--primary-offwhite-transparent)
}

/*The Navbar*/
.navbar{
    /*the height is automatically of any height that is needed*/
    display: flex;
    flex-direction: row;
    width: 90%;
    height: var(--navbar-height);
    gap: 10%;
    padding-left: 10%;
    align-items: center;
    color: var(--primary-darkgray);

    /*Show the navbar even when scrolling*/
    position: sticky;
    top: 0;
    left: 0;

    /* background-color: var(--primary-offwhite); */
    background-color: var(--primary-offwhite-transparent);

    @media(width <= 1024px){
        width: 55%;
        padding-left: 40%;
        padding-right: 5%;
        justify-content: space-between;
    }
    @media(width <= 768px){
        width: 85%;
        padding-left: 10%;
        padding-right: 5%;
        justify-content: space-between;
    }
}

.navbar__logo{
    font-family: var(--special-font);
    font-size: 1.5rem;
    letter-spacing: 3px;
    max-height: 100%;

    @media(width <= 1024px){
        font-size:2rem;
    }
}

.navbar__list{
    /* color: brown; note how it does not apply because technically the links are inside the li not inside the ul*/ 
    display: flex;
    flex-direction: row;
    list-style-type:none;
    gap: 5vw;
    
    @media(width <= 1024px){
        display:none;    
    }
}

.navbar__ham-menu{
    display: none;
    height: 50px;
    width: 50px;
    /* margin-left: auto; */
    position: relative;

    @media(width <= 1024px){
        display:flex;
    }
}

.navbar__ham-menu__line{
    height: 5px;
    width: 100%;
    background-color: var(--primary-orange);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.navbar__ham-menu__line:nth-child(1){
    top:25%;
}

.navbar__ham-menu__line:nth-child(3){
    top:75%;
}


/*Who*/
.section--who{
    height: 90vh;
    @media(width <= 1024px){
        height:auto;
    }
}

.who{
    display:flex;
    flex-direction:row;
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color:var(--primary-offwhite);
    background-size: cover;
    background-position:center;

    @media(width <= 1024px){
        align-items: center;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        flex-direction:column;
    }
}

.who__text-block{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 5%;
    @media(width <= 1024px){
        width: 95%;
    }
}

.who__image-block{
    display:flex;
    flex-direction: column;
    width: 50%;
    max-height: 85%;

    @media(width <= 1024px){
        width: 70%;
        height: 70dvh;
    }
}

.who__image-block__image{
    max-width: 100%;
    max-height: 97%;
    object-fit:cover;

    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
}

.section--experience{
    width: 80%;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    gap: 0;
    margin:0;

    overflow-y:scroll;
    overflow-x:hidden;
    scroll-snap-type: mandatory;

    @media(width <= 1024px){
        height: auto
    }
}

.section--experience::-webkit-scrollbar{
    display: none;
}

/* .section--experience::-webkit-scrollbar-button{
    
} */

.experience{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: var(--default-border);
    border-color: var(--primary-gray);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);

    padding-top: 5px;
    padding-bottom: 5px;
    gap: 3%;
    max-height: 30vh;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;

    /* position:relative; */
}

/* .experience::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(src/images/egypt_pyramids_and_camels.jpg);
    background-position: center;
    background-size:cover;
    opacity: 50%;
    pointer-events: none;
} */

.experience__logo-frame{
    display: flex;
    flex-direction: column;
    width: 10%;
    max-height:100%;
    padding-top: 1%;

    @media(width <= 1024px){
        min-width: 20%;
        max-width: 30%;
    }
}

.experience__header{
    display: flex;
    flex-direction: column;
    gap: 1px;
    /* max-height:100%; */
    width: 40%;

    @media(width <= 1024px){
        width: 70%;
    }
}

.experience__header__row{
    display: flex;
    flex-direction:row;
    gap: 3%;
}

.experience__header__row--title{
    display: flex;
    max-height: 25%;
    align-items: bottom;
}

.experience__description{
    display:flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 1%; /*This percentage is taken from the parent's WIDTH not height. This is done by CSS to prevent infinite loops. */
    width: 50%;
    overflow:hidden;

    @media(width<=1024px){
        display:none;
    }
}

.knowledge_section{
    width: 100%;
    height: 100vh;
    gap: 0;
    margin:0;
}

.knowledge__content{
    padding-left: 10%;
    padding-right: 10%;
}

.section--connect{
    height: 30vh;
    position: relative;
}

.section--connect::before{
    content:"";
    position: absolute;
    top: 0; left:0; right:0; bottom:0;

    background-image: url('src/images/egypt-captured-by-me.jpg');
    background-size:cover;
    background-position:top;

    filter: grayscale(100%);
    opacity: 50%;
    z-index: -1;
}

.connect{
    padding-left: 10%;
    padding-right: 10%;
}

.connect__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.connect__row__item{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 30%;
}

.connect__row__item a{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 5%;
}

.connect__row__item img{
    width: 10%;
}

.connect__row__item svg{
    width: 10%;
}



.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 100%;
    opacity: 0.5;
    filter: grayscale(100%);
}